---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, lang } =
  Astro.props;
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  updatedDate={updatedDate}
  lang={lang}
>
  <article>
    <div class='prose'>
      <div class='title'>
        <div class='date'>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class='last-updated-on'>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>

      <div
        style={{
          display: 'flex',
          flexDirection: 'row',
          justifyContent: 'space-between',
          alignItems: 'center',
          gap: '1rem',
        }}
      >
        <slot />
        <div class='hero-image'>
          {
            heroImage && (
              <img width={2000} height={1000} src={heroImage} alt='' />
            )
          }
        </div>
      </div>
    </div>
  </article>
</Layout>
